<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>ECharts</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.2/echarts.common.js"></script>

  </head>
 
  <body>
    <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
    <div id="main0" style="width: 900px;height:600px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main0'));

      // 指定图表的配置项和数据
      var option = {
  title: {
    text: '累计收益曲线'
  },
  tooltip: {
    trigger: 'axis'
  },
  xAxis: {
    type: 'category',
    data: ["20230904", "20230905", "20230906", "20230907", "20230908"]
  },
  yAxis: {
    type: 'value',
    min: [0.015147417410416364], 
    max: [-0.015147417410416364], 
  },
  dataZoom: [
    {
      type: 'inside',
      start: 0,
      end: 20
    },
    {
      start: 0,
      end: 0
    }
  ],
  series: [
    {
      name:'策略收益',
      data: [-0.0030000000000000027, -0.005509315481070032, 0.0014237265437235802, -0.015147417410416364, -0.010913603382202819],
      type: 'line'
    }
  ]
};
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
  </body>
</html>